<%- include('../partials/header', { title: 'Editar incidència' }) %>

<div class="container mt-5">
  <h1 class="mb-4 text-center">Editar Incidència</h1>

  <form action="/incidencies/<%= incidencia.id %>/update" method="POST" class="mx-auto" style="max-width: 600px;">
    <div class="mb-3">
      <label for="descripcio" class="form-label">Descripció</label>
      <input
        type="text"
        name="descripcio"
        value="<%= incidencia.descripcio %>"
        class="form-control"
        required
      />
    </div>

    <div class="mb-3">
      <label for="prioritat" class="form-label">Prioritat</label>
      <select id="prioritat" name="prioritat" class="form-select" required>
        <option disabled selected value="">-- Selecciona una Prioritat --</option>
        <option value="Alta" <%= incidencia.prioritat === 'Alta' ? 'selected' : '' %>>Alta</option>
        <option value="Mitjana" <%= incidencia.prioritat === 'Mitjana' ? 'selected' : '' %>>Mitjana</option>
        <option value="Baixa" <%= incidencia.prioritat === 'Baixa' ? 'selected' : '' %>>Baixa</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="departament_id" class="form-label">Departament</label>
      <select id="departament_id" name="departament_id" class="form-select" required>
        <option disabled selected value="">-- Selecciona un Departament --</option>
        <% departaments.forEach(departament => { %>
          <option value="<%= departament.id %>" <%= departament.id === incidencia.departament_id ? 'selected' : '' %>>
            <%= departament.nom_dpt %>
          </option>
        <% }) %>
      </select>
    </div>

    <div class="mb-3">
      <label for="tecnic_id" class="form-label">Tècnic</label>
      <select id="tecnic_id" name="tecnic_id" class="form-select" required>
          <option disabled selected value="">-- Selecciona un Tècnic --</option>
        <% tecnics.forEach(tecnic => { %>
          <option value="<%= tecnic.id %>" <%= tecnic.id === incidencia.tecnic_id ? 'selected' : '' %>>
            <%= tecnic.nom %>
          </option>
        <% }) %>
      </select>
    </div>

    <div class="mb-3">
      <label for="estat" class="form-label">Estat</label>
      <select id="estat" name="estat" class="form-select" required>
        <option value="Resolt" <%= incidencia.estat === 'Resolt' ? 'selected' : '' %>>Resolt</option>
        <option value="No resolt" <%= incidencia.estat === 'No resolt' ? 'selected' : '' %>>No resolt</option>
      </select>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Actualitzar</button>
    </div>
  </form>
</div>

<%- include('../partials/footer') %>
