<%- include('../partials/header', { title: 'Llista de categorias' }) %>
  <h1>Llista de incidencies</h1>
  <a class="btn btn-primary mb-3" href="/incidencies/new">Afegir Incidencia</a>
  <ul class="list-group">
    <% incidencies.forEach(incidencia => { %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          <strong><%= incidencia.id %></strong>
        </span>
        <span>
          <strong><%= incidencia.descripcio %></strong>
        </span>
        <span>
          <strong><%= incidencia.Departament.nom_dpt %></strong>
        </span>
        <span>
          <strong><%= incidencia.prioritat %></strong>
        </span>
        <span>
          <a href="/incidencies/<%= incidencia.id %>/edit" class="btn btn-warning">Editar</a>
          <a href="/incidencies/<%= incidencia.id %>/delete" class="btn btn-danger">Eliminar</a>
        </span>
      </li>
    <% }) %>
  </ul>
<%- include('../partials/footer') %>