<%- include('../partials/header', { title: 'Llista de categories' }) %>

<div class="container mt-5">
  <h1 class="mb-4 text-center">Llista de incidències</h1>

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Descripció</th>
        <th>Departament</th>
        <th>Tècnic</th>
        <th>Prioritat</th>
        <th>Estat</th>
        <th>Accions</th>
      </tr>
    </thead>
    <tbody>
      <% incidencies.filter(incidencia => incidencia.estat === "No resolt").forEach(incidencia => { %>
        <tr>
          <td><%= incidencia.id %></td>
          <td><%= incidencia.descripcio %></td>
          <td><%= incidencia.Departament.nom_dpt %></td>
          <td><%= incidencia.Tecnic && incidencia.Tecnic.nom ? incidencia.Tecnic.nom : 'Sin asignar' %></td>
          <td><%= incidencia.prioritat %></td>
          <td><%= incidencia.estat %></td>
          <td>
            <a href="/incidencies/<%= incidencia.id %>/edit" class="btn btn-warning btn-sm">Editar</a>
            <a href="/incidencies/<%= incidencia.id %>/delete" class="btn btn-danger btn-sm">Eliminar</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <!-- Botón para cerrar sesión y volver al inicio -->
<div class="text-center mt-4">
  <button class="btn btn-danger" onclick="resetAccess()">Tancar sessió i tornar a l'inici</button>
  </div>
</div>

<div class="text-center mt-4">
  <a href="/actuacions" class="btn btn-secondary">Veure totes les actuacions</a>
</div>
<script>
  // Funció per desactivar els enllaços del header
  function disableHeaderLinks() {
    document.getElementById("projecte-link").style.pointerEvents = "none";
    document.getElementById("incidencies-link").style.pointerEvents = "none";
  }

  // Funció per resetar l'accés (per tancar sessió)
  function resetAccess() {
    sessionStorage.removeItem("accessGranted");
    window.location.href = "/";
  }
</script>

<%- include('../partials/footer') %>
